body{
    background-color: #f2f0eb;
}

h1, h4 {
    text-align: center;
    color: #1e3932;
}


#entrada{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodapee{
    height: 200px;
    background-color:#1e3932;
    text-align: center;
    box-shadow: 0px 0px 20px 0.3px black;
}

.imgrodape{
    width: 15%;
    padding-top: 10px;
}

.cabecalho{
    height: 100px;
    background-color:#1e3932;
    text-align: center;
    box-shadow: 0px 0px 20px 0.3px black;
}

.imgcabecalho{
    width: 70px;
    margin-top: 12px;
}

.center {
  border-color: #1e3932;
  box-shadow: 0px 0px 20px 0.3px #1e3932;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
    padding: 40px 80px 50px 80px;
    background: #d8e9df;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
  }

  .center .inputbox {
    position: relative;
    width: 300px;
    height: 30px;
    margin-bottom: 60px;
  }
  .center .inputbox input {
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
  }
  .center .inputbox:last-child {
    margin-bottom: 15px;
  }

.nomess{
   font-size: 17px;
   font-family: Inter,sans-serif;
   color: #1e3932;
}

.h333{
    color: #1e3932;
}

.button-59 {
  align-items: center;
  background-color: #f2f0eb;
  border: 2px solid #1e3932;
  box-sizing: border-box;
  color:  #1e3932;
  cursor: pointer;
  display: inline-flex;
  fill:  #1e3932;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
}

.button-59:hover {
  border-color: #7aa78d;
  color: #7aa78d;
  fill: #7aa78d;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 190px;
  }
}

.grupo{
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

.unidade{
  border-color: #1e3932;
  border-style: solid;
  border-radius: 10px;
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 336px;
  background: #d8e9df;
  height: auto;
  box-shadow: 0px 0px 20px 0.3px #1e3932;
}

.item {
  width: 300px;
  height: 100%;
  background-color: #90b7a0;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  font-family: Inter,sans-serif;
   color: #1e3932;
}

.mapouter{
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0.3px black;
}

.botaoo{
  padding-bottom: 10px;
  align-items: center;
  background-color: #f2f0eb;
  border: 2px solid #1e3932;
  box-sizing: border-box;
  color:  #1e3932;
  cursor: pointer;
  display: inline-flex;
  fill:  #1e3932;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
}

.botaoo:hover {
  border-color: #7aa78d;
  color: #7aa78d;
  fill: #7aa78d;
}

@media (min-width: 768px) {
  .botaoo {
    min-width: 150px;
  }
}

.botaoooo{
  padding-bottom: 10px;
  cursor: pointer;
}